name: Deployment Bitsnake Server

on:
  push:
    branches:
      - main

jobs:
  container-job:
    runs-on: ubuntu-latest
    container: node:16.3.0-alpine
    services:
      postgres:
        image: postgres
        env:
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - name: Check out repository code
        uses: actions/checkout@v3
      # - name: Install dependencies
      #   run: npm install
      # - name: Connect to PostgreSQL
      #   run: npm run test
        # env:
        #   POSTGRES_HOST: postgres
        #   POSTGRES_PORT: 5432
      